body{
    margin: 0;
}

p{
    font-size: 5rem; 

}

.card1{
    width: 100%;
    padding: 20px; 
    background-color: red;
    font-size: 1.4rem;
    color: white;

    position: sticky;
    top: 0;
}

.card2{
    width: 100%;
    padding: 20px; 
    background-color: blue;
    font-size: 1.4rem;
    color: white;

    position: sticky;
    top: 0;
}

.card3{
    width: 100%;
    padding: 20px; 
    background-color: gray;
    font-size: 1.4rem;
    color: white;

    position: sticky;
    top: 0;
}

.card4{
    width: 100%;
    padding: 20px; 
    background-color: darkred;
    font-size: 1.4rem;
    color: white;

    position: sticky;
    top: 0;
}

.page{
    height: 100vh;
}