body{
    margin: 0;
}

#box1{
    background-color: red;
}

#box2{
    background-color: green;
}

#box3{
    background-color: orange;
}

#box4{
    background-color: purple;
}

#box5{
    background-color: pink;
}

#box6{
    background-color: blue;
}

#box7{
    background-color: brown;
}

#box8{
    background-color: lightpink;
}

#box9{
    background-color: darkmagenta;
}

#box10{
    background-color: yellow;
}

#box11{
    background-color: gray;
}

#box12{
    background-color: lightskyblue;
}

.container{
    display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            width: 100vw;
            height: 100vh;
    
}